:root {
  /* ==== Theme Colors ==== */
  --heading-color: #2C3E50;
  --text-color: #2C2C2C;
  --secondary-text: #aaa;

  --bg-dark: rgba(0, 0, 0, 0.8);
  --bg-dark-circle: #000;
  --bg-light: #f1f1f1;
  --bg-card-shadow: rgba(0, 0, 0, 0.3);
  --bg-footer: #616161;

  --btn-bg: #555;
  --btn-bg-alt: #333;

  --btn-text-color: #fff;
  --link-color: #000;
  --footer-text-color: #fff;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  overflow-wrap: break-word;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  width: 100%;
}

h1, h2, {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--heading-color);
  margin: 0.8rem auto !important;
}

article h3 {
  color: var(--heading-color);
  font-weight: 400;
  margin: 0.8rem auto;
}

header {
  text-align: center;
  margin: 2.2rem auto;
}

h1 {
  line-height: 2.1;
  font-size: 3rem;
}

.bg-dark {
  background-color: var(--bg-dark);
  padding: 3px 2px;
  color: var(--btn-text-color);
  font-size: 1.2rem;
}

h3 span {
  color: var(--secondary-text);
}

img {
  width: min(1200px, 100%);
  height: auto;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.img-container {
  width: 100%;
  height: 280px;
  background-color: var(--bg-light);
  transition: all 0.3s ease;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  padding: 10px;
}

main {
  width: 67%;
  padding: 10px;
}

p {
  color: var(--text-color) !important;
}

aside {
  width: 33%;
  padding: 10px;
}

section {
  margin-bottom: 2rem;
}

section h3 {
  font-size: 1.1rem;
}

article, .highlight, .popular-posts, .tags {
  box-shadow: 0 0 5px var(--bg-card-shadow);
  margin-bottom: 1.5rem;
}

.highlight h2, .tags h2, .popular-posts  h2 {
  padding: 0 10px;
  margin: 1rem auto;
}

.highlight p {
  padding: 0 10px 1rem;
}

.flex-container {
  display: flex;
  padding: 4px 10px;
}

.flex-container div {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.flex-container div:last-of-type {
  padding: 0 10px;
}

.flex-container div:hover {
  background-color: #eee;
}

.flex-container div:first-of-type {
  width: 25%;
}

.flex-container div:last-of-type {
  width: 75%;
}

.flex-container div h2,
.flex-container div p {
  padding: 5px;
}

.tags div {
  padding: 10px;
}

.tags div a {
  display: inline-block;
  color: var(--link-color);
  text-decoration: none;
  padding: 0 5px;
}

.btn-more {
  color: var(--bg-dark-circle);
  padding: 8px 14px;
  text-decoration: none;
  border: 1px solid var(--bg-dark-circle);
  border-radius: 5px;
  display: inline-block;
}

/* Link (default) */
.btn-more:link {
  color: var(--bg-dark-circle);
}

/* Visited */
.btn-more:visited {
  color: var(--bg-dark-circle);
}

/* Hover */
.btn-more:hover {
  background-color: #ccc;
}

.btn-more:active {
  background-color: #aaa;
  transform: scale(0.97); /* thoda press effect dene ke liye */
}

.bg-dark-circle {
  color: var(--btn-text-color);
  background-color: var(--bg-dark-circle);
  border-radius: 50%;
  padding: 0 5px;
}

.btn-sec {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.btn-sec > div {
  padding: 10px 0;
}

footer {
  color: var(--footer-text-color) !important;
  background-color: var(--bg-footer) !important;
  padding: 2rem 0.5rem;
}

footer p {
  color: var(--footer-text-color) !important;
  padding: 0 10px;
}

.buttons {
  padding: 10px;
}

.previous {
  padding: 8px 12px;
  border: none;
  color: #f1f1f1;
  border-radius: 5px;
}

.next {
  padding: 8px 16px;
  color: #f1f1f1;
  background-color: var(--btn-bg-alt);
  border: none;
  border-radius: 5px;
}

footer p a {
  color: var(--footer-text-color);
}

@media only screen and (max-width: 600px) {

  body {
    font-size: 14px;
  }

  .container {
    flex-direction: column;
  }

  main, aside {
    width: 100%;
  }

  h1 {
    line-height: 2.5;
    font-size: 2.1rem;
  }
  
  h3 {
  color: var(--heading-color);
  font-weight: 400;
  font-size: 16px !important;
}

.comments {
  display: none;
}

.img-container {
  width: 100%;
  height: 200px;
}

}
